{{> header title="Dashboard"}}
<div id="nav" class="bg-transparent border-bottom">
	<nav class="navbar bg-transparent container">
		<div class="container-fluid">
			<a class="navbar-brand logo">FileFormatConverter</a>
			<div class="d-flex links">
				<a class="nav-link me-4" aria-current="page" href="/logout">Log out</a>
				<a class="nav-link me-4" aria-current="page" href="/database">Database</a>
			</div>
		</div>
	</nav>
</div>

<div class="container d-flex justify-content-center align-items-center position-absolute top-50 start-50 translate-middle">
<form action="/doctopdf">
	
<input type="submit" class="btn btn-primary fs-2 p-3 mx-3" value="DOC TO PDF"/>
</form>

<form action="/pptxtopdf">
	
<input type="submit" class="btn btn-success fs-2 p-3 mx-3" value="PPTX TO PDF"/>
</form>

<form action="/sheetTopdf">
	
<input type="submit" class="btn btn-info fs-2 p-3 mx-3" value="CSV/XLSX TO PDF"/>
</form>
</div>


                       <script src="javascript/bootstrap.bundle.min.js"></script>
    </body>
</html>
