{{> header title="Database Data"}}
<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>

    </ul>
</div>
<div class="pattern0 fireworks fire0">
    <div class="ring_1"></div>
    <div class="ring_2"></div>
</div>
<div class="pattern1 fireworks fire1">
    <div class="ring_1"></div>
    <div class="ring_2"></div>
</div>
<div class="pattern2 fireworks fire2">
    <div class="ring_1"></div>
    <div class="ring_2"></div>
</div>
<div class="pattern3 fireworks fire3">
    <div class="ring_1"></div>
    <div class="ring_2"></div>
</div>
<div class="pattern4 fireworks fire4">
    <div class="ring_1"></div>
    <div class="ring_2"></div>
</div>
<div class="pattern5 fireworks fire5">
    <div class="ring_1"></div>
    <div class="ring_2"></div>
</div>
<div class="pattern6 fireworks fire6">
    <div class="ring_1"></div>
    <div class="ring_2"></div>
</div>
<div class="pattern7 fireworks fire7">
    <div class="ring_1"></div>
    <div class="ring_2"></div>
</div>
<div class="pattern8 fireworks fire8">
    <div class="ring_1"></div>
    <div class="ring_2"></div>
</div>
<div class="pattern9 fireworks fire9">
    <div class="ring_1"></div>
    <div class="ring_2"></div>
</div>
<div class="pattern10 fireworks fire10">
    <div class="ring_1"></div>
    <div class="ring_2"></div>
</div>
<div class="pattern11 fireworks fire11">
    <div class="ring_1"></div>
    <div class="ring_2"></div>
</div>
<div class="pattern12 fireworks fire12">
    <div class="ring_1"></div>
    <div class="ring_2"></div>
</div>
<div class="pattern13 fireworks fire13">
    <div class="ring_1"></div>
    <div class="ring_2"></div>
</div>
<div class="pattern14 fireworks fire14">
    <div class="ring_1"></div>
    <div class="ring_2"></div>
</div>
<div class="pattern15 fireworks fire15">
    <div class="ring_1"></div>
    <div class="ring_2"></div>
</div>
<div class="pattern16 fireworks fire16">
    <div class="ring_1"></div>
    <div class="ring_2"></div>
</div>
<div class="pattern17 fireworks fire17">
    <div class="ring_1"></div>
    <div class="ring_2"></div>
</div>
<div class="pattern18 fireworks fire18">
    <div class="ring_1"></div>
    <div class="ring_2"></div>
</div>
<div class="pattern19 fireworks fire19">
    <div class="ring_1"></div>
    <div class="ring_2"></div>
</div>
<nav class="navbar navbar-expand-lg bg-my">
	<div class="container-fluid mx-5 text-white">
		<a class="navbar-brand logo fs-4 text-mygreen" href="/">FileFormatConverter</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
			aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon fs-3 text-dark"></span>
		</button>
		<div class="collapse navbar-collapse " id="navbarTogglerDemo02">
			<form class="d-flex">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item links">
						<a class="nav-link text-danger me-4" aria-current="page" href="/logout">Log out</a>
					</li>
				</ul>
			</form>
		</div>
	</div>
</nav>

<div class="col-sm-8 mt-5 container">
    <h2 class="alert alert-success text-center">List of Users: </h2>
    <table class="table text-white border">
        <thead class="border">
            <tr class="border text-center">

                <th class="border text-white" scope="col">USERNAME</th>
                <th class="border text-white" scope="col">EMAIL</th>
                <th class="border text-white" scope="col">PASSWORD</th>

            </tr>
        </thead>
        <tbody class="text-white border text-center">
            {{#each data}}
            <tr class="border">
                <td class="border text-white">{{username}}</td>
                <td class="border text-info">{{email}}</td>
                <td class="border text-danger">{{password}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>
<!-- ********************************************* -->

<script src="javascript/bootstrap.bundle.min.js"></script>
</body>

</html>
