{{> header title="DOC To PDF Converter"}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid mx-5">
    <a class="navbar-brand fs-4 text-dark">FileFormatConverter</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
         <a class="nav-link text-dark me-4" aria-current="page" href="/pptxtopdf">PPTX TO PDF</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark me-4" aria-current="page" href="/sheetTopdf">XLSX TO PDF</a>
        </li>
      </ul>
      <form class="d-flex">
        <a class="nav-link text-danger me-4" aria-current="page" href="/logout">Log out</a>
      </form>
    </div>
  </div>
</nav>
<div class="container  position-absolute top-50 start-50 translate-middle">
          <h1 class="text-center mb-5">
              DOCX to PDF Converter
          </h1>

          <form action="/doctopdf" method="post" enctype="multipart/form-data">
            <div class="form-group mb-4">
                <input type="file" name="file" id="" required class="form-control mt-5 border-info w-25 position-relative w-50 top-50 start-50 translate-middle input-btn">
            </div>
            <div class="form-group d-flex justify-content-center align-items-center flex-column">
                <button class="btn btn-primary btn-block fs-3 myborder">
                    Convert to PDF
                </button>
            </div>
        </form>
      </div>
      <!-- ********************************************* -->

                       <script src="javascript/bootstrap.bundle.min.js"></script>
    </body>
</html>
